@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Microsoft YaHei Light', sans-serif;

  --font-monospace: 'Source Code Pro', 'Courier New', Courier, monospace;
}

.rc-tabs-nav-list {
  @apply bg-transparent!;
}

.rc-tabs-tab {
  @apply bg-transparent!;
}
.rc-tabs-tab-focus {
  @apply outline-0!;
}
.rc-tabs-ink-bar {
  @apply hidden!;
}

.rc-tabs-content-holder,
.rc-tabs-content,
.rc-tabs-tabpane {
  @apply w-full!;
  @apply h-full!;
}

.rc-tabs-nav-more {
  @apply hidden!;
}

.core-markdown {
  h6 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h1 {
    @apply text-5xl font-bold;
  }
}
